body {
  padding: 20px;
  font-family: arial,verdana,sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height:  1.5em;
  text-align: left;

}

h1{
  font-size: 3em;
  text-transform: capitalize;
  text-shadow: 3px -1px 0px #ff7bac;
}

h2,h3 {
  text-transform: bold;
}
p.author {
  font-weight: bold;
  text-transform: capitalize;
}
